/*
.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: grey;
}
.bg-light{
    background-color: aqua!important;
}
.textoTorneos{
    text-align: center;
}
body{
    background-color: grey;
}
.carouselClases{
    padding-bottom: 250px;
}
.espacioMainContacto{
    padding-top: 10px;
}
.botonClases{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.carousel-caption{
    color: red;
    font-size: 35px;
}
.card-body{
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
.table{
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes tamaño{
    0%{}
    50%{font-size:20px;}
    100%{}}
.botonClases{
    animation-name: tamaño;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*/
