/* TODAS LAS HOJAS */
html{
    font-size: 62,5%;
}
.menuNav{ 
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center ;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    background:radial-gradient( white,lightseagreen)
}
a{
    color: black;
}
.logoSize{
    width: 70px;
    height: 70px;
}
.menuNav ul li {
    display: inline;
    padding: 10px;
    ;
}
a{
    text-decoration: none;  
}
body{
    background-image: url(../multimedia/fondopantalla.jpg);
    background-size:cover ;
}
.tituloCentrado{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    background:radial-gradient( white,lightseagreen)
}
table{
    text-align: center;
    width: 850px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: aliceblue;
}
/* HOJA INDEX */
.estructuraIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "texto1index texto2index"
    "imagenindex imagenindex"
    ;
}
.tituloIndex{
    grid-area: tituloindex;
    text-align: center;
}
.textoPagIndex1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: texto1index;
    
}
.textoPagIndex2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: texto2index;
    padding-left: 75px;
}
.imgIndex{
    width: 100%;
    grid-area: imagenindex;
}
            /*MOBILE INDEX*/
 @media screen and (max-width: 320px) {
    .estructuraIndex{   
    grid-template-columns:1fr;
        grid-template-rows: 1fr 0,5fr 1fr 1fr;
        grid-template-areas: 
        "tituloindex"
        "texto1index"
        "imagenindex"
        "texto2index"
        ;
     }
     .textoPagIndex1{
        grid-area: texto1index;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .textoPagIndex2{
        grid-area: texto2index;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .menuNav ul li{
        display: block;
        font-size: 20px;
    }
    .menuNav img{
        display: none;
    }
    .textoPagIndex2{
        padding-left: 0px;
    }
}         
/*HOJA CLASES*/
            /*VERSION DESKTOP*/
.estructuraClases{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"texto1clases imagen1clases"
                        "texto2clases imagen1clases"
                        "texto3clases imagen1clases"
                        "imagen2clases texto4clases"
                        "imagen2clases texto4clases"
                        "imagen2clases texto5clases"
                        "tablaclases tablaclases"
                        "texto6clases botonclases"
    ;
}
.imgSizeClases1{
    width: 12cm;
    height: 10cm;
    grid-area:imagen1clases ;
    padding-left: 35px;
}
.imgSizeClases2{
    width: 12cm;
    height: 10cm;
    grid-area: imagen2clases;
    padding-bottom: 25px;
    
}
.texto1Clases{
grid-area: texto1clases;
font-size:30px ;
font-family:Arial, Helvetica, sans-serif;
}
.texto1Clases{
    grid-area: texto1clases;
    font-size:30px ;
    font-family:Arial, Helvetica, sans-serif;
    }
.texto2Clases{
    grid-area: texto2clases;
    font-size:30px ;
    font-family:Arial, Helvetica, sans-serif;
    }
.texto3Clases{
    grid-area: texto3clases;
    font-size:30px ;
    font-family:Arial, Helvetica, sans-serif;
    }
.texto4Clases{
        grid-area: texto4clases;
        font-size:30px ;
        font-family:Arial, Helvetica, sans-serif;
        }
.texto5Clases{
        grid-area: texto5clases;
        font-size:30px ;
        font-family:Arial, Helvetica, sans-serif;
        }
.texto5Clases{
        grid-area: texto5clases;
        font-size:30px ;
        font-family:Arial, Helvetica, sans-serif;
        }
.texto6Clases{
            grid-area: texto6clases;
            font-size:20px;
            font-family:Arial, Helvetica, sans-serif;
            padding-left: 40px;
        }
.tablaClases{
    grid-area: tablaclases;
    transform: translateX(20px);
}
.botonClases{
    grid-area: botonclases;
    padding-top: 40px;
    padding-left: 150px;
    
}
/*VERSION MOBILE*/
@media screen and (max-width: 320px) {
    .estructuraClases{
        grid-template-columns: 1fr;
        grid-template-areas: "texto1clases"
                             "texto2clases"
                             "tablaclases"
                             "texto4clases"
                             "texto6clases"
                             "botonclases";
    }
    .imgSizeClases1{
       display: none;
    }
    .imgSizeClases2{
      display: none;
    }
    table{
        text-align: center;
        width: 200px;
        height: 150px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: green;
        color: aliceblue;
    }
    .texto5Clases{
        display: none;
    }
    .texto3Clases{
        display: none;
    }
    .botonClases{
        grid-area: botonclases;
        padding-top: 40px;
        padding-left: 50px;
    }
}
/* HOJA DE TORNEOS */
        /*VERSION DESKTOP*/
.estructuraTorneos{
    display: grid;
    grid-template-columns:1fr 0,5fr 1fr ;
    grid-template-areas:"titulotorneos titulotorneos titulotorneos"
                        "textotorneos1 textotorneos1 textotorneos1"
                        "textotorneos2 textotorneos2 textotorneos2"
                        "imagentorneos1 . imagentorneos2"
                        "torneo1 . torneo2" 
                        "datostorneo1 . datostorneo2";
}
.pregunta{
    text-align: center;
    font-size: 45px;
    grid-area:titulotorneos ;
}
.respuestaPregunta{
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-area:textotorneos1;
}
.proximosTorneos{
    text-align: center;
    font-size: 40px;
    grid-area: textotorneos2;
}
.imgTorneos1{
    grid-area: imagentorneos1;
    padding-left: 100px;
}
.imgTorneos2{
    grid-area: imagentorneos2;
    padding-left: 100px;
}
.tipoTorneo1{
    grid-area: torneo1;
    font-size: 40px;
}
.tipoTorneo2{
    grid-area: torneo2;
    font-size: 40px;
}
.ulHojaTorneos1{
    display: flex;
    padding: 0px 90px;
    font-size: 25px;
    justify-content: space-around;
    grid-area: datostorneo1;
}
.ulHojaTorneos2{
    display: flex;
    padding: 0px 90px;
    font-size: 25px;
    justify-content: space-around;
    grid-area: datostorneo2;
}
.torneoAmericano{
    font-weight: bold;
    font-size: 35px;
    justify-content:space-around;
   }
            /*VERSION MOBILE*/
@media screen and (max-width: 320px){
    .estructuraTorneos{
        grid-template-columns: 1fr;
        grid-template-areas:"titulotorneos"
                            "textotorneos1" 
                            "textotorneos2"
                            "imagentorneos1"
                            "torneo1"
                            "datostorneo1"
                            "imagentorneos2"
                            "torneo2"
                            "datostorneo2";
    } 
    .ulHojaTorneos1{
        padding: 0px 0px;
    }
    .ulHojaTorneos2{

        padding: 0px 0px;
    }
    .imgTorneos1{
        grid-area: imagentorneos1;
        padding-left: 25px;
    }
    .imgTorneos2{
        grid-area: imagentorneos2;
        padding-left: 25px;
    }    
}
/*HOJA EL CLUB*/
        /*VERSION DESKTOP*/
.estructuraClub{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"video1 video1 video1"
                        "titulo1 titulo1 titulo1"
                        "img1 img2 img3"
                        "texto1 texto1 texto1";                   
}
.parrafoClub{
text-align: center;
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
grid-area: texto1;
}
.imgSizeClub1{
    grid-area: img1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imgSizeClub2{
    grid-area: img2;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    height: 270px;
}
.imgSizeClub3{
    grid-area: img3;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    height: 270px;
}
.titulo1Club{
    grid-area: titulo1;
    font-size: 100px;
    color: black;
    text-align: center;
    }
.textoMobile{
    display:none
}
            /*VERSION MOBILE*/
@media screen and (max-width: 320px){
    .estructuraClub{
        grid-template-columns:1fr;
        grid-template-areas:"titulo1"
                            "img1"
                            "img2"
                            "img3"
                            "texto1"
    }
    .titulo1Club{
        font-size: 20px;
    }
    .parrafoClub{
        display: none;
    }
    .imgSizeClub1{
        padding-left: 25px;
    }
    .imgSizeClub2{
        padding-left: 25px;
    }
    .imgSizeClub3{
        padding-left: 25px;
    }
    .textoMobile{
        display: block;
    }
}

/*HOJA CONTACTO*/
.estructuraContacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "box1 box3 box2"
                         "box4 box7 box5"
                         "box6 box7 box8"
                         "video box9 mapa";
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
    text-align: center;
    padding-right: 50px;
}
.box4{
    grid-area: box4;
    padding-top: 10px;
}
.box5{
    grid-area: box5;
    padding-top: 10px;
}
.box6{
    grid-area: box6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box7{
    grid-area: box7;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.box8{
    grid-area: box8;
    padding-top: 10px;
}
.box9{
    grid-area: box9;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-weight: bold;
    padding-right: 50px;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.videoContacto{
    grid-area: video;
    width: 200px;
    height: 300px;
}
.mapaContacto{
    grid-area: mapa;
    width: 200px;
    height: 300px;
}
@keyframes color{
    0%{color: black}
    50%{color: yellow;
        font-size:30px;}
    100%{color: white}
}

@media screen and (max-width: 320px){
    .estructuraContacto{
        grid-template-columns: 1fr;
        grid-template-areas:"box1"
                            "box2"
                            "box3"
                            "box4"
                            "box5"
                            "box6"
                            "box7"
                            "box8"
                            "video"
                            "box9"
                            "mapa";
    }
    .box9{
        padding-right: 0px;
    }
    .box7{
        text-align: left;
    }
    .videoContacto{
        padding-top: 15px;
        padding-bottom: 15px;
        width: 300px;
    }
    .mapaContacto{
        width: 300px;
    }
    .box1{
    text-align: center;
    }
   .box2{
    text-align: center;
    padding-bottom: 15px;
   }
    }


