main .table {
  background-color: palevioletred;
  font-family: Arial, Helvetica, sans-serif; }
  main .table tr {
    color: white;
    text-align: center; }

main .carouselClases {
  padding-bottom: 250px; }

main .botonClases {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

main .parrafoClases {
  text-align: center; }

header .textoTorneos {
  text-align: center; }

main .textoTorneos {
  text-align: center; }

footer {
  text-align: center;
  background-color: #9816F3; }
  footer .instagram {
    padding-right: 100px; }
  footer .facebook {
    padding-left: 100px; }

body .bg-light {
  background-color: #9816F3 !important; }
