.carouselClases {
  padding-bottom: 250px; }

.textoClases {
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px; }

.row {
  margin-right: 0;
  margin-left: 0; }

.textoTorneos {
  text-align: center;
  padding-bottom: 10px; }

.espacioMainContacto {
  padding-top: 25px; }

.boton {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }

footer {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding-top: 20px; }

body {
  background-color: grey; }

.bg-light {
  background-color: lightblue !important; }

.card {
  background-color: #00ffe5; }
