main{
    .table{
            background-color: palevioletred;
            font-family: Arial, Helvetica, sans-serif;
            tr{
                color: white;
                text-align: center
            }
    }
    .carouselClases{
        padding-bottom: 250px;
    }
    .botonClases{
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
    .parrafoClases{
        text-align: center;
    }
    }
