$colorPrincipal:#9816F3;
$contacto:(
    torneos:blue,
    clases:green,
 );
@each $contact , $color in $contacto{
    .btn--#{$contact}{
        background-color: $color;
    }
};
@mixin sizes ($ancho, $alto){
    width: $ancho;
    height: $alto;
    };
$estilos:(
    fuente:30px,
    padding:1rem
);
.btn--torneos{
    font-size:map-get($estilos, fuente);
    padding: map-get($estilos, padding) ;
    @include sizes (500px, 750px);
};
.btn--clases{
    @extend .botonClases;
    font-size:map-get($estilos, fuente);
    padding: map-get($estilos, padding);
};
