@import "variables";
@import "clases";
@import "torneos";
@import "contacto";
.boton{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: grey;
    padding-top: 20px;
}
body{
    background-color: grey;
}
.bg-light{
    background-color:lightblue!important;
}
.card{
    background-color: rgb(0, 255, 229);
}
