@import "variables";
@import "clases";
@import "torneos";

footer{
    text-align: center;
    background-color: $colorPrincipal;
    .instagram{
        padding-right:100px;
    }
    .facebook{
        padding-left: 100px;
    }
   }
body{ 
.bg-light{
    background-color: $colorPrincipal!important;
}
}
